body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin: 0;
    background-color: #202124;
}

/* barra de navegação*/

#navbar{
    margin-top: 20px;
}

.nav-list{
    padding: 0 25px;
}

.nav-list li{
    display: inline-block;
    list-style: none;
    padding: 5px 10px;
}

.nav-list li a{
    color: #ffffff;
    text-decoration: none;
}

.nav-list li a:hover{
    text-decoration: underline;
}

#social-bar{
    text-align: right;
}

/*corpo do site*/

#body{
    text-align: center;
}

#google-logo{
    padding-top: 7%;
    margin-bottom: 25px;
}

#input-box{
    width: 43vw;
    height: 60px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#search-input{
    color: white;
    height: 48px;
    border-radius: 24px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    padding: 0 50px;
    border: 1px solid rgb(122, 122, 122);
    background-color: #202124;
}

#search-input:hover{
    background-color: #303134;
    border: 1px solid #303134;
}

#search-icon, #mic-icon, #keyboard-icon{
    color: white;
    position: absolute;
    top: 15px;
    font-size: 18px;
}

#search-icon{
    left: 20px;
}
#keyboard-icon{
    right: 55px;
}
#mic-icon{
    right: 20px;
}

#body input[type="submit"]{
    background-color: #303134;
    border: 0;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    height: 36px;
    width: 150px;
    padding-top: 0 16px;
    font-size: 14px;
    margin: 15px 5px;
    cursor: pointer;
}

#body input[type="submit"]:hover{
    border: 1px solid rgb(105, 105, 105);
}
            /*footer*/
footer{
    position: absolute;
    display: block;
    box-sizing: border-box;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #171717;
}

#left-bar a, #right-bar a{
    color: #8c8e92;
}

#left-bar, #right-bar{
    display: inline-block;
    margin-top: 14px;
    margin-bottom: 0px;
}
#right-bar{
    position: absolute;
    right: 0;
}